
body {
    background-color: #1a1a1a;
    color: #fff;
  }  
  .container {
    margin-top: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 48px;
    color: #007bff;
    margin-bottom: 20px;
  }
  

  